[Desktop Entry]
Name=Slappyshot
GenericName=Screenshot Annotation
TryExec=slappyshot
Exec=slappyshot -f %f
Terminal=false
NoDisplay=true
Type=Application
Keywords=wayland;snapshot;annotation;editing;
Icon=slappyshot
Categories=Utility;Graphics;
StartupNotify=true
MimeType=image/png;image/jpeg;
StartupWMClass=slappyshot
